<IfModule mod_rewrite.c>
	Options +FollowSymLinks -MultiViews
	RewriteEngine on
	RewriteRule ^$ public_HTML/
	RewriteCond %{REQUEST_FILENAME} !-f 
	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteRule ^(.*)$ public_HTML/$1
	
</IfModule>
