<<<<<<< HEAD
	
<<<<<<< HEAD
=======

>>>>>>> 1b7ba4428e899adebab5f239630ff70335052bbd
body {
	margin:0;
}
/* logo Tam An div*/
#logodiv {
	float: left;
}
#logo {
	width: 140px;
	height: 70px;
<<<<<<< HEAD
=======
	body {
		margin:0;
	}
	/* the div contain logo*/
	#logodiv {
		float: left;
		
	}
	/* logo Tam An*/
	#logo {
		width: 140px;
		height: 70px;
	}
	/* sign in area in nav */
	#sign-in {
		font-weight: bold;
		float: right;
		font-size: 1.1em;
		width:auto;
		height: 30px;
	}
	
	/* Clear */
	.break {
		clear:both;
	}

	/* Organic food*/
	#header {
		margin:2px;
		font-size:3em;
		position: absolute;
		top:15px;
		left: 200px;

	}

	/* Viet nam text  */
	#VN {
		font-size: 0.7em;
		padding-left: 10px;
	}
	
	/* print section hide print block in mormal use and hide the other when print */
>>>>>>> 92b9a33943adfbaca1f79ae5e9a2957890b1c06b

}
.fixedwidth {
	margin:0 auto;
=======
>>>>>>> 1b7ba4428e899adebab5f239630ff70335052bbd
}

/* sign in div*/
#sign-in {
	font-weight: bold;
	float: right;
	font-size: 1.1em;
	width:auto;
	height: 30px;
}

.break {
	clear:both;
}
/* Organic food*/
#header {
	margin:2px;
	font-size:3em;
	position: absolute;
	top:15px;
	left: 200px;

}
/* viet nam*/
#VN {
	font-size: 0.7em;
	padding-left: 10px;
}

<<<<<<< HEAD
/* print section hide print block in mormal use and hide the other when print */

.print-blocks{display:none;}
=======
	/* Clear */
	.clear {
		clear: both;
	}
	/* button margin (Cancel Print Preview) */
	.bigBtn{
		width:80px;
		margin: 5px;
	}
>>>>>>> 92b9a33943adfbaca1f79ae5e9a2957890b1c06b

@media print {
	.no-print{display: none;}
	.print-blocks {
		display: block;
	}
}

<<<<<<< HEAD
/* Clear */
.clear {
	clear: both;
}
/* margin button ( Print Preview Cancel )*/
.bigBtn{
	width:80px;
	margin: 5px;
}
/* content of navigation bar*/
.inner-nav-content{
	height: 100px;
	background-color: #99FA7E;
	border-bottom: 2px solid grey;
}


.black-icon-bar{
	background-color: black;
}

/* child div must be smaller than parent div */
/* add red border for visibility */
.load {
	margin: 2px;	
}

/* content of Tac vu */
.inner-content{
	margin:15px;
	padding:10px;
	background-color: white;

}
/* content of navigation bar */
.inner-nav-content{
	height: 100px;
	background-color: #99FA7E;
	border-bottom: 2px solid grey;
}


/* make toast like on android */
#toast {
	width:200px;
	height:20px;
	height:auto;
	position:absolute;
	left:50%;
	margin-left:-100px;
	bottom:10px;
	background-color: #383838;
	color: #F0F0F0;
	font-family: Calibri;
	font-size: 20px;
	padding:10px;
	text-align:center;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
<<<<<<< HEAD
=======
	/* content of Tac Vu lolololol*/
	.inner-content{
    	margin:15px;
    	padding:10px;
    	background-color: white;
    	 
	}

	/* content of navigation bar*/
	.inner-nav-content{
		height: 100px;
		background-color: #99FA7E;
		border-bottom: 2px solid grey;
	}
	
	
	
>>>>>>> 92b9a33943adfbaca1f79ae5e9a2957890b1c06b
=======

>>>>>>> 1b7ba4428e899adebab5f239630ff70335052bbd
