	
	body {
		margin:0;
	}
	/* the div contain logo*/
	#logodiv {
		float: left;
		
	}
	/* logo Tam An*/
	#logo {
		width: 140px;
		height: 70px;
	}
	/* sign in area in nav */
	#sign-in {
		font-weight: bold;
		float: right;
		font-size: 1.1em;
		width:auto;
		height: 30px;
	}
	
	/* Clear */
	.break {
		clear:both;
	}

	/* Organic food*/
	#header {
		margin:2px;
		font-size:3em;
		position: absolute;
		top:15px;
		left: 200px;

	}

	/* Viet nam text  */
	#VN {
		font-size: 0.7em;
		padding-left: 10px;
	}
	
	/* print section hide print block in mormal use and hide the other when print */

	.print-blocks{display:none;}

	@media print {
		.no-print{display: none;}
		.print-blocks {
			display: block;
		}
	}

	/* Clear */
	.clear {
		clear: both;
	}
	/* button margin (Cancel Print Preview) */
	.bigBtn{
		width:80px;
		margin: 5px;
	}

	/* child div must be smaller than parent div */
	/* add red border for visibility */
	.load {
		margin: 2px;	
	}

	/* content of Tac Vu lolololol*/
	.inner-content{
    	margin:15px;
    	padding:10px;
    	background-color: white;
    	 
	}

	/* content of navigation bar*/
	.inner-nav-content{
		height: 100px;
		background-color: #99FA7E;
		border-bottom: 2px solid grey;
	}
	
	
	