
body {
  margin:0;
}
/* logo Tam An div*/
#logodiv {
  float: left;
}
#logo {
  width: 140px;
  height: 70px;
}

/* sign in div*/
#sign-in {
  font-weight: bold;
  float: right;
  font-size: 1.1em;
  width:auto;
  height: 30px;
}

.break {
  clear:both;
}
/* Organic food*/
#header {
  margin:2px;
  font-size:3em;
  position: absolute;
  top:15px;
  left: 200px;

}
/* viet nam*/
#VN {
  font-size: 0.7em;
  padding-left: 10px;
}

/* print section hide print block in mormal use and hide the other when print */

.print-blocks{display:none;}

@media print {
  .no-print{display: none;}
  .print-blocks {
    display: block;
  }
}

/* Clear */
.clear {
  clear: both;
}
/* margin button ( Print Preview Cancel )*/
.bigBtn{
  width:100px;
  margin: 5px;
}
/* content of navigation bar*/
.inner-nav-content{
  height: 100px;
  background-color: white;
  border-bottom: 2px solid grey;
}


.black-icon-bar{
  background-color: black;
}

/* child div must be smaller than parent div */
/* add red border for visibility */
.load {
  margin: 2px;  
}

/* content of Tac vu */
.inner-content{
  margin:15px;
  padding:10px;
  background-color: white;
}

/* make toast like on android */
#toast {
  width:200px;
  height:20px;
  height:auto;
  position:absolute;
  left:50%;
  margin-left:-100px;
  bottom:10px;
  background-color: #383838;
  color: #F0F0F0;
  font-family: Calibri;
  font-size: 20px;
  padding:10px;
  text-align:center;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
/* Hide stuff */
.hide{
  visibility: hidden;
}
/* tri image id */
#tri_img {
  width: 40%;
  height: 40%;
}
/* tri dashed line */
.tri_dashed_line{
  border-top: dashed;
}

table.tri-receipt-table td {
  margin: 10px;
  padding: 10px;
}

.product-list {
  width: 100%;
}
/* footer of table*/
.table-footer-row{
  font-weight: bold;
  background-color: #FFE13C;
}

table.receipt-product-list{  
  border-collapse: collapse;
  border-spacing: 0px;
}
/* the title of collumn*/
.cell-title{
  text-align: left;
  font-weight: bold;
  font-size: 15px;
}
/*STT column of alter product table*/
.STT-product{
  text-align: center;
  font-size: 15px; 
  padding-top:15px;
  min-width:100px;
}
/* product name column of alter product table*/
.alter-product-name{
  width:100%; 
  min-width:250px;
}
/*product bought price of alter product table*/
.alter-product-bought{
  width:100%; 
  min-width:100px;
}
.alter-product-percentage{
  width:100%; 
  min-width:70px;
}
.alter-product-sale{
  width:100%;
  min-width:80px; 
}
.alter-product-check-box{
  margin-top:10px;
}
.sort-button{
  padding-left:0px;
  padding-right:0px;
  padding-bottom:10px;
}
/* 1.5x size of every check box*/
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}
/* restrict height of product table*/
.restrict-table-area{  
    max-height: 560px ;
    overflow-y: auto;
}
.no-id-product{
  text-align: center;
  font-size: 15px; 
  padding-top:20px;
  min-width:100px;
  font-weight: bold;
  color: red;
}

#not-found{
  font-size: 20px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}